@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Monoton&family=Poppins&display=swap');



.nav_class{
    font-family: "Lilita One", sans-serif;
    display: flex;
    justify-content: space-between;
}
.nav_class span{
    margin: 16px 20px;
    font-size: larger;
    cursor: pointer;
}
.nav_ul{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}
.nav_ul li{
    text-decoration: none;
    margin-right: 30px;
}
.nav_ul li a{
    text-decoration: none;
    color: black;
}
.nav_ul li :hover{
    text-decoration: none;
    color:gray
}